/*Variables: =>*/
:root {
   /*Wrapper / Background => */
   --dark-theme-background-color: linear-gradient(120deg, rgb(24, 22, 56), rgb(21, 23, 68) 100%);
   --light-theme-background-color: #ffffff;

   /*Header => */
   --dark-theme-header-color: ;
   --light-theme-header-color: #14213d;

   /*Styled font => */
   --Stl-font: CartographCF Nerd Font;

   /*Color Palette light-theme (beta) => */
   --links: #FCA311;
   --links-hover: #ffc261;
   --Important-text: #000000;
   --text: #14213D;


   /*Font and padding => */
   --font-size: 14px;
   --default-font: "Monserrat", sans-serif;

   --padding: 1px;
   --marging: 1px;

   --ligatures-on: common-ligatures;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
   margin: 0;
   padding: 0;

   font-variant-ligatures: common-ligatures;

   font-family: "Monserrat", sans-serif;
   font-size: 14px;
   /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#ShibaDev-github.light-theme-Github {
   font-family: var(--Stl-font);
   color: var(--Important-text);
}

#ShibaDev-github.dark-theme-Github {
   font-family: var(--Stl-font);
   color: var(--languid-lavender);
}

#wrapper.light-theme {
   color: var(--black);
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: var(--light-theme-background-color);
}

#wrapper.dark-theme {
   color: rgb(234, 199, 199);
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: var(--dark-theme-background-color);
}

li, a, button {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #383838;
   cursor: pointer;
   text-decoration: none;
}

a.light-theme {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #383838;
   text-decoration: none;
}

a.dark-theme {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #eae0da;
   text-decoration: none;
}

a.dark-theme:hover {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #eae0da;
   text-decoration: none;
}

header.light-theme {
   background: var(--light-theme-header-color);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px 10%;
}

header.dark-theme {
   background: var(--dark-theme-header-color);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px 10%;
}

#nav-links a {
   color: var(--links);
}

#nav-links {
   list-style: none;
}

#nav-links li {
   display: inline-block;
   padding: 0px 20px;
}

#nav-links li a {
   transition: all 0.3s ease;
}

#nav-links li a:hover {
   color: var(--links-hover);
}

button.light-theme {
   padding: 9px 25px;
   background-color: rgb(160, 195, 210);
   border: none;
   border-radius: 15px;
   transition: all 0.15s ease 0s;
   color: var(--gunmetal);
}

button.dark-theme {
   padding: 9px 25px;
   background-color: rgb(44, 42, 68);
   border: none;
   border-radius: 15px;
   transition: all 0.15s ease 0s;
   color: var(--languid-lavender);
}

#Change-Theme.dark-theme:hover {
   background-color: var(--text);
   color: var(--gunmetal);
}

#Change-Theme.light-theme:hover {
   background-color: var(--black);
   color: var(--languid-lavender);
}

.Menu {
   display: none;
   padding: var(--padding);
   margin: var(--margin);
   border-top: none;
}